# Postgres Configs
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Development DB
POSTGRES_DB=nerd_one_client
POSTGRES_DB_TEST=nerd_one_client_test

# Rails App Configs
BASE_URL=http://localhost:3000
SECRET_KEY_BASE=
HMAC_SECRET=

export OAUTH_PROVIDER_URL=http://localhost:3000
export CLIENT_ID=<CLIENT ID GENERATER BY PROVIDER>
export CLIENT_SECRET=<CLIENT SECRET GENERATER BY PROVIDER>
export OAUTH_REDIRECT_URI=http://localhost:3001/oauth/callback
export CLIENT_TWO_URL=http://localhost:3002
