<h1>Client ONE</h1>
  <% if session[:access_token] %>
    <p>You are log in as <%= @owner['email']%></p>
    <p><%= link_to 'Logout', logout_path, method: :post %></p>
    <p><%= link_to 'Change Password', "#{ENV['OAUTH_PROVIDER_URL']}/users/edit" %></p>
  <% else %>
    <%= link_to 'Login', ENV['OAUTH_PROVIDER_URL'] %>
<% end %>
